:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("https://s3-alpha-sig.figma.com/img/0c52/73b8/371a7ee48782efc3bfcebe3493f0e0b8?Expires=1683504000&Signature=FX9T~GTvfqrOjPEvlknpJCa8Qo1Qj1iG1dZqgcpP7A3ZfXO8kbLb7WlTh74wpeOWJFdqfAChmTWoq2SRby-2aA28eMT5FmK9Pzg8pPHGwSoJd0wuwIDx6bAzB5BwJpAlYRpndcEw26xGq720l~Ria4ANatz0Im9Y-oDHeBaKre3DWiUkJ5u19-Wz9sLcSyG5CbtHTNxclYNge1~fgzAK69ydZRjqjzML7nh043TpAEu2HzCf4l66uvMtuoSBE1wFPqnF4sakwpq~NVv9fUzOI0MQRAPbBIL8K2M9IurgKnxUmzE3wUes-9o~dM3FjUqRwNkyd8D6nG9zSEFtVa8zyg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 25px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 60px;
    font-weight: 700;
}

.container__imagem {
    padding: 0 0px;

}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
    width: auto;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: white;
}


.rodape-imagem{
    height: 120px;
    padding: 0 1140px;
}